vuejs/index.html
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Homepage</title>
	<meta name="description" content="meta_description" />
	<meta name="keywords" content="meta_keywords" />
	<meta property="og:title" content="Homepage" />
	<meta property="og:description" content="meta_description_social" />
	<meta property="og:type" content="website" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="assets/css/style.css">
	<!--[if lt IE 9]>
    <script src="assets/js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
<![endif]-->
</head>

<body>
	<div class="wrapper" id="app" v-cloak>
		<div class="container">
			<div class="table-responsive" v-if="dataSort.length">
				<table class="table-spreadsheet">
					<thead>
						<tr 
							is="ingredient-head" 
							:title="labels" 
						/>
					</thead>
					<tbody>
						<tr 
							is="ingredient-item" 
							v-for="ingredient in dataSort" 
							:key="ingredient.id" 
							v-bind="ingredient" 
							:total="summary.weight"
							@update="onUpdateItem(arguments[0], ingredient)" 
						/>
					</tbody>
					<tfoot>
						<tr 
							is="ingredient-foot" 
							v-bind="summary"
						/>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<script src="assets/js/vendor/vue.min.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>

app/index.jade
extends templates/layouts/one-colum.jade
block head
  +head(
  'Homepage',
  'meta_description',
  'meta_keywords',
  'meta_description_social',
  'meta_image_social',
  'meta_url_social',
  'meta_type_social'
  )
block content
  .container
    .table-responsive
      table.table-spreadsheet
        thead
          tr
            th Status
            th Type
            th Material No.
            th Ingredient Name
            th %
            th.text-danger Weight(g)
            th Volume (ml)
            th Density
            th Starch
            th Total Fat
            th Total Energy
            th Sugar
            th Sodium
            th Acidity Level
        tbody
          +tr('lock',     '',         '', 'ART-2086 TAB WATER VIENNA',          '10', '20', '10',       '2', '1', '2', '3',   '4',  '5',  '6')
          +tr('unlock',   '',         '', 'ART-2086 TEA EXTRACT LIQUID TURKEY', '10', '20', '5',        '4', '7', '8', '9',  '10', '11', '12')
          +tr('warning',  '', '77771234', 'ART-2086 ASCORBIC ACID (E300)',      '10', '20', '4',        '5', '8', '7', '6',   '5',  '4',  '3')
          +tr('lock',    'B', '77777777', 'PINEAPPLE (BRIX)',                   '10', '20', '40',     '0.5', '2', '1', '1',   '2',  '3',  '4')
          +tr('lock',     '',         '', 'ART-2086 TEA EXTRACT LIQUID TURKEY', '10', '20', '8',      '2.5', '5', '6', '7',   '8',  '9', '10')
          +tr('deactive', '', '99000002', 'GRAPE FLAVOUR',                      '10', '20', '13.333', '1.5', '6', '5', '4',   '3',  '2',  '1')
          +tr('lock',    'F',         '', 'WATER (FILLER)',                     '40', '80', '80',       '1', '4', '5', '6',   '7',  '8',  '9')
        tfoot
          tr
            td(colspan="4") Total
            td 100
            td 200
            td 160.333
            td
            td 880
            td 1000
            td 1080
            td 1200
            td 1320
            td 1440
